name: Build and Release
on: [ push, pull_request ]
jobs:
  build:
    name: Setup and Build ISO
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y nasm cmake qemu-system-x86 xorriso binutils
          git clone --branch v9.x-binary https://github.com/limine-bootloader/limine.git --depth=1
          sudo make -C limine && cd limine && sudo make install
      - name: Configure CMake
        run: cmake -S ${{ github.workspace }} -B bin
      - name: Build
        run: cmake --build bin --target iso --config Release
      - name: Create ISO
        uses: actions/upload-artifact@v6
        with:
          name: Mesh.iso
          path: bin/bin/Mesh.iso
  release:
    name: Create Release
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download ISO
        uses: actions/download-artifact@v7
        with:
          name: Mesh.iso
          path: ./release-assets
      - name: Set up Release Tag
        run: echo "release_tag=$(date +'%Y-%m-%d_%H-%M')" >> $GITHUB_ENV
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ env.release_tag }}
          name: Release ${{ env.release_tag }}
          files: ./release-assets/Mesh.iso
